.top-bar {
    -fx-background-color: rgb(52, 52, 52);
}

.top-bar .buttons {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-opacity: 0.6;
}
.top-bar .buttons:hover {
    -fx-opacity: 0.8;
}