.bottom-bar {
    -fx-background-color: rgb(20, 20, 20);
}

.bottom-bar .buttons {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-opacity: 0.7;
}
.bottom-bar .buttons:hover {
    -fx-opacity: 1.0;
}
.bottom-bar .buttons:disabled {
    -fx-opacity: 0.2;
}

.bottom-bar .bottom-label {
    -fx-text-fill: rgb(67,67,67);
    -fx-font-size: 15px;
    -fx-font-family: "MerriweatherSans";
    -fx-font-weight: 700;
}