.progressBar .download-progress {
    -fx-max-width: 1000;
    -fx-pref-width: 1000;
    -fx-min-width: 100;
    -fx-min-height: 10px;
    -fx-max-height: 10px;
}

.progressBar .download-progress > .bar {
    -fx-background-color: #85AE51;
    -fx-background-insets: 0;
    -fx-background-radius: 30px;
}

.progressBar .download-progress > .track {
    -fx-background-color: red;
    -fx-background-insets: 0;
    -fx-background-radius: 30px;
}

.progressBar .download-status {
    -fx-text-alignment: center;
    -fx-text-fill: rgb(10, 12, 12);
}