.background-home {
    -fx-background-image: url("../../../../graphics/background.png");
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
}

.home-panel .play-button {
    -fx-background-radius: 4px;
    -fx-background-color: rgb(23,23,23);
    -fx-opacity: 0.8;

    -fx-font-family: "Signika";
    -fx-font-weight: 700;
    -fx-font-size: 15px;
    -fx-text-fill: rgb(255,255,255);
}