.accounts-panel .rectangle-border {
    -fx-background-color: rgb(29,29,27);

    -fx-border-radius: 10 10 0 0;
    -fx-background-radius: 10 10 0 0;
}

.accounts-panel .accounts-label {
    -fx-font-family: "Signika";
    -fx-font-weight: 800;
    -fx-font-size: 23px;
    -fx-text-fill: rgb(255,255,255);
}

.accounts-panel .accounts-subLabel {
    -fx-font-family: "Signika";
    -fx-font-weight: 500;
    -fx-font-size: 18px;
    -fx-text-fill: rgb(255,255,255);
}

.accounts-panel .account-label {
    -fx-font-family: "Signika";
    -fx-font-weight: 800;
    -fx-font-size: 23px;
    -fx-text-fill: rgb(255,255,255);
}

.accounts-panel .account-subLabel {
    -fx-font-family: "Signika";
    -fx-font-weight: 500;
    -fx-font-size: 12px;
    -fx-text-fill: rgb(255,255,255);
}

.accounts-panel .account-button-play {
    -fx-background-radius: 4px;
    -fx-background-color: rgb(23,23,23);
    -fx-opacity: 0.8;

    -fx-font-family: "Signika";
    -fx-font-weight: 700;
    -fx-font-size: 15px;
    -fx-text-fill: rgb(255,255,255);
}
.accounts-panel .account-button-play:hover {
    -fx-opacity: 1.0;
}

.accounts-panel .account-button-remove {
    -fx-background-radius: 4px;
    -fx-background-color: red;
    -fx-opacity: 0.8;

    -fx-font-family: "Signika";
    -fx-font-weight: 700;
    -fx-font-size: 15px;
    -fx-text-fill: rgb(255,255,255);
}
.accounts-panel .account-button-remove:hover {
    -fx-opacity: 1.0;
}

.accounts-panel .module-label {
    -fx-font-family: "Signika";
    -fx-font-weight: 800;
    -fx-font-size: 12px;
    -fx-text-fill: rgb(255,255,255);
}

.accounts-panel .scroll-pane {
    -fx-background: rgb(32,31,29);
    -fx-border-color: rgb(52,52,52);
    -fx-padding: 0px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.accounts-panel .scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: transparent;
}

.accounts-panel .increment-button, .decrement-button {
    -fx-background: transparent;
}

.accounts-panel .scroll-bar:horizontal .track, .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
}

.accounts-panel .scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
    -fx-background-color: rgb(52,52,52);
    -fx-background-radius: 5em;
}